<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- <title>Sistem Pakar</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script> -->

    <!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="/agency/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Sistem Pengendalian Kualitas Pada Perusahaan Genteng Keramik</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link type="text/css" rel="stylesheet" href="/agency/css/linearicons.css">
		<link type="text/css" rel="stylesheet" href="/agency/css/owl.carousel.css">
		<link type="text/css" rel="stylesheet" href="/agency/css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="/agency/css/animate.css">
		<link type="text/css" rel="stylesheet" href="/agency/css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="/agency/css/main.css">

		<!-- 
		JS 
		============================================= -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    
