<!-- <a href="/operator/show/dominan">Dominan</a>
<a href="/operator/show/tidakdominan">Tidak Dominan</a> -->

<% include ../partials/header %>
<section id="blog" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Pilih</p>
                    <h2 class="h1">Tingkat Kecacatan</h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6 col-md-3 ">
                <div class="single-publish " style="text-align: center;">
                    <!-- <img src="/agency/img/p1.jpg" class="img-fluid" alt=""> -->
                    <div class="top">
                        <h6 class="text-uppercase">Cacat Dominan</h6>
                    </div>
                    <a href="/operator/show/dominan" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-3">
                <div class="single-publish" style="text-align: center;">
                    <!-- <img src="/agency/img/p2.jpg" class="img-fluid" alt=""> -->
                    <div class="top">
                        <h6 class="text-uppercase"><a href="/operator/show/tidakdominan">Cacat Tidak Dominan</a></h6>
                    </div>
                    
                    <a href="/operator/show/tidakdominan" class="details-btn d-flex justify-content-center align-items-center" style="text-align: center;"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            
        </div>
    </div>
</section>

<% include ../partials/footer %>
